
.result-html{
    width: 50vw;
    min-height: 90vh;
    border-radius: 0.375rem;
    border: 1px solid var(--border-color-1);
}


.content-row{
    color: var(--input-color-1);
}


@media screen and (max-width: 768px)
{
   .result-html{
    width: 90vw;
   }
}